# 依存関係
/vendor/
/node_modules/

# 環境設定
.env
.env.backup

# IDEとエディタ
/.idea/
/.vscode/
.project
.classpath
.c9/
*.sublime-workspace
*.sublime-project

# OS固有ファイル
.DS_Store
Thumbs.db

# ログとキャッシュ
/logs/
*.log
/tmp/
/cache/

# コンパイル済みファイル
*.com
*.class
*.dll
*.exe
*.o
*.so

# パッケージ
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Composerファイル
composer.phar 